.items-container {
    min-width: 800px;
    width: 100%;

    .item-row {
        height: 56px;
        width: 100%;
        max-width: 100%;
        font-size: 13px;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:hover {
            background: rgba(0,0,0,0.12);
        }

        @mixin flex-column-width($width, $classSuffix) {
            .column-#{$classSuffix} {
              flex: 1;
              padding-left: 16px;
              max-width: #{$width};
            }
        }

        @for $i from 1 through 9 {
            $percentage: $i * 10;
            @include flex-column-width($percentage + '%', $percentage)
        }
        
        @include flex-column-width(25%, 25);
        @include flex-column-width(33.3%, 33);
        @include flex-column-width(66.7%, 66);
        @include flex-column-width(75%, 75);
        
    }

}