<div [ngSwitch]="loading">
    <div *ngSwitchCase="true">
        Loading...
    </div>
    <div *ngSwitchCase="false" class="items-container">
        <div *ngFor="let album of albums; let i = index" class="item-row">
            <div class="column-50">
                {{album.title}}
            </div>
            <div class="column-25">
                {{album.mediaItemsCount}}
            </div>
            <div class="column-25">
                <a (click)="viewAlbum(album)">
                    View
                </a>
            </div>
        </div>
    </div>
</div>
    